.card-text{
    text-align: center;
    justify-content: center;
    align-items: center ;
    
}

.card-img-top {
	height: 800px;
    width: 1300px;
}

.card-text-nav {
    text-align: center;
    padding-right: 19em;
    color: white;
}

:root {
    /* CSS HEX */
    --dark-lava: #463F3A;
    --middle-grey: #8A817C;
    --pale-silver: #BCB8B1;
    --alabaster: #F4F3EE;
    --melon: #E0AFA0;
<<<<<<< HEAD
    }
=======
    }
>>>>>>> 8446cf4e3014aaf95b1c0b063425053d7b909cf3
