:root {
    /* CSS HEX */
    --dark-lava: #463F3A;
    --middle-grey: #8A817C;
    --pale-silver: #BCB8B1;
    --alabaster: #F4F3EE;
    --melon: #E0AFA0;
    }

* {
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
}
.navbar {
    background-color: #F4F3EE;
}

.nav-link {
    color:#463F3A;
}

.card-text{
    text-align: center;
    justify-content: center;
    align-items: center ;
    
}

.card-img-top {
    background-image: url("images/pexels-photo-459225.jpeg");

} 

.name-head {
    display: flex;
    background-image: url(/images/pexels-pixabay-164170.jpg);
    background-size: cover;
    background-position: center bottom;
    justify-content: center;
    align-items: center;
    height: 45vh;
    width: 100%;
    z-index: 1;
    padding-top: 5vh;
    padding-right: 1vw;
    margin: 0%;
    color: #F4F3EE; 
}

.header-title {
    font-size: 7vh;
}

.dropdowns {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

 .filter_attraction {
    margin: auto;
    padding-right: 0;
}

.filters-parks {
    margin: auto;
}

.filters-eateries {
    margin: auto;
} 


.details-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    background-color: #E0AFA0;
}

.weather-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

aside {
    border: 1px solid black;
    background-color: rgb(162, 130, 238);
    display: block;
    float: right;
    word-wrap: break-word;
  }

.it-details {
	padding:5px;
	display:inline-block;
    vertical-align: top;
    word-wrap: break-word;
    text-align: center;
}