.card-text{
    text-align: center;
    justify-content: center;
    align-items: center ;
    
}

.card-img-top {
    background-image: url("images/pexels-photo-459225.jpeg")

} 

.card-text-nav {
    text-align: center;
    padding-right: 17em;
    color: white;
}

:root {
    /* CSS HEX */
    --dark-lava: #463F3A;
    --middle-grey: #8A817C;
    --pale-silver: #BCB8B1;
    --alabaster: #F4F3EE;
    --melon: #E0AFA0;
    }
